@import '~node_modules/modern-normalize/modern-normalize.css';
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section.search-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.786);
}

.header-nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.header__logo {
  align-self: center;
}

.logo-img {
  width: 80px;
  padding: 1rem 0;
}

.header-nav__list {
  justify-self: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    justify-self: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-nav__item:not(:last-child) {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.header-nav__link {
  color: black;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
@media screen and (min-width: 768px) {
  .header-nav__link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.header-nav__link:focus, .header-nav__link:hover {
  color: green;
}

.header-nav__link.current-link {
  position: relative;
  color: green;
}
@media screen and (min-width: 768px) {
  .header-nav__link.current-link::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: green;
  }
}

.search-form {
  position: relative;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .search-form {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .search-form {
    margin-right: 0;
  }
}

.search-input {
  width: 100%;
  outline: transparent;
  -webkit-appearance: none;
  height: 50px;
  padding-left: 0.5rem;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
  background-color: white;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .search-input {
    height: 40px;
  }
}
.search-input:hover, .search-input:focus {
  border-color: rgb(35, 36, 35);
}

.search-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 12px;
  bottom: 0;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: transparent;
}
@media screen and (min-width: 1200px) {
  .search-btn {
    width: 40px;
    height: 40px;
  }
}

.main-text {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.footer-page {
  margin: 0 auto;
  padding: 4rem 0;
  background-color: rgb(47, 48, 58);
}

.footer-text {
  font-size: 2rem;
  color: whitesmoke;
  text-align: center;
}/*# sourceMappingURL=index.css.map */