<header class="header section">
  <div class="container">
    <nav class="header-nav">
      <a class="header__logo" href="./index.html"
        ><img class="logo-img" src="./images/logo.png" alt="Logo"
      /></a>
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav__link" href="./index.html">Main</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#">Forms</a>
        </li>

        <li class="header-nav__item">
          <a class="header-nav__link" href="#">Contact us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
