<section class="section">
  <div class="container">
    <div class="form-wrapper"></div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="btn-form__wrp">
      <button class="form-btn check" type="button" id="download-button">
        Check
      </button>
    </div>
  </div>
</section>
<!-- <section class="section">
  <div class="container">
    <div class="preview-wrapper"> -->
<!-- <div class="preview" id="pdf-templ">
        <h1 class="preview-title">Title</h1>
        <p class="preview-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          <span class="name-value">Here Name</span>
        </p>

        <p class="preview-text">
          from <span class="dateFrom-value">Here Date from</span>
        </p>

        <p class="preview-text">
          to <span class="dateFrom-value">Here Date from</span>
        </p>

        <p class="preview-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          sit et expedita, dicta dignissimos similique repellendus nam ducimus.
        </p>
      </div> -->
<!-- </div>
  </div>
</section> -->
